::-webkit-scrollbar {
  width: 7px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.drawing {
  cursor: url("./assests/pencil-cursor.svg"), auto !important;
  outline: 1px solid red;
  outline-offset: -15px;
}

body {
  overflow-x: hidden;
  background-color: #212121;
  font-family: "Montserrat", sans-serif;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

label {
  color: #fff;
  font-size: 1rem;
  text-transform: capitalize;
}

.heading {
  color: #fafafa;
  text-transform: capitalize;
  text-align: center;
  margin: 2rem 0;
  font-weight: 600;
  font-size: 2.5rem;
}

#canvas {
  /* padding-top: 1rem; */
  background-color: #212121;
  position: relative;
}

.inputs {
  margin: 3rem 2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.start-btn {
  margin-left: 1.5rem;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  color: #fafafa;
  font-size: 1.2rem;
  font-weight: 200;
  transition: background-color 0.2s ease;
  background-color: rgb(94, 130, 248);
}

.start-btn.running {
  background-color: rgb(248, 94, 94);
}

.start-btn.running:hover {
  background-color: rgb(238, 77, 77);
}

.start-btn:hover {
  background-color: rgb(68, 110, 247);
}

.inputs label {
  font-weight: 500;

  margin-bottom: 0.5rem;
}

.inputs > div {
  display: flex;
  flex-direction: column;
}

.start-draw-btn-wrapper {
  display: flex;
  justify-content: center;
}

.start-draw-btn {
  font-size: 1.1rem;
  color: rgb(68, 67, 67);
  background-color: rgb(255, 214, 127);
  padding: 0.2em 0.5em;
  border-radius: 0.5em;
}

footer {
  text-align: end;
}

footer a {
  color: rgb(94, 130, 248);
  margin-right: 2rem;
}

.hide {
  visibility: hidden !important;
}

.default-drawings-wrapper {
  margin: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.default-drawing-btn {
  padding: 0.2em 0.5em;
  font-size: 1.025rem;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(199, 190, 250);
}